@import url(stylerespons.css);
@import url(styleslider.css);
@import url(stylecirculos.css);
@import url(stylepromo.css);
@import url(stylecards.css);
@import url(stylemasvendido);
@import url(stylefooter.css);
@import url(stylesesion.css);
@import url(stylerecontra.css);
@import url(stylecrecuen.css);
@import url(stylecuentacreada.css);
@import url(styledescription.css);
@import url(stylecardsproducto.css);
@import url(styleformlogin.css);
@import url(stylepedidos.css);



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color:#000;
}
.cont-prin{
	width: 69%;
	margin: 0 auto;/*Centra el cotenedor*/
	display: flex; 
	flex-flow: row wrap;/*Esta propiedad nos permite el row dejar en vertical los items 
	y el wrap es para que sea multilinea al momento de hacer responsive la pagina*/
	justify-content: space-between;/*Es el que identifica donde van a estar todos los contenedores*/
	border: 1px solid #ccc;
	
}
.cont-prin .inisesion a:hover{
	color:#e65100 ;
}
.conti-carrito{
	margin: 0;
	padding: 0;
}
/******----Primer Div item1-----------------------------****/

.caja{/*Contenedor carrito*/
	width: 20%;
	height: 20px;
	line-height: 120px;
	text-align: center;
	color: #ccc;
	/*border: 1px solid #ccc; */
	margin: 15px;/*Margen externa de los contenedores*/
}
.caja2{
	display: flex;
	/*flex-direction:;
	flex-wrap: ;*/
	flex-flow:row nowrap ;/*Remplaza el flex-direction y el flex -wrap*/
	justify-content: center;
	width: 20%;
	height: 20px;
	line-height: 120px;
	text-align: start;
	color: #ccc;
	/*border: 1px solid #ccc; */
	margin: 15px;/*Margen externa de los contenedores*/
}
.buscador{
	width: 50%;
	height: 50px;
    color: #9e9e9e;
	text-align: center;
	line-height: 30px;
	/*border: 1px solid rgb(114, 21, 21);*/
}
.caja3{/*Contenedor carrito*/
	display: flex;
	/*flex-direction:;
	flex-wrap: ;*/
	flex-flow:row nowrap ;/*Remplaza el flex-direction y el flex -wrap*/
	justify-content: end;
	
	width: 20%;
	height: 20px;
	line-height: 120px;
	text-align: start;
	color: #ccc;
	/*border: 1px solid #ccc; */
	margin: 15px;/*Margen externa de los contenedores*/
}
.caja3-carrito{
	width: 30%;
	height: 33px;
	text-align: center;
	line-height: 30px;/*Linea que separa a lo largo*/
	
}
.caja4-ini-session{
	width: 30%;
	height: 27px;
    color: #9e9e9e;
	text-align: center;
	line-height: 30px;

	
}
.caja3-carrito i{
	color: #9e9e9e;
}
.caja4-ini-session a{/*Iniciar sesion*/
    color: #9e9e9e;
}
.srcp{
	color: #bdbdbd;
	font-size: 14px;
	margin-left: -13px;
}

.src-prin{
	width: 50%;
	height: 30px;
}
.ctn-car{
	display: flex;
	justify-content: flex-end;
	width: 60%;
	height: 110px;
	margin-left: 13px;
}
.inisesion{
	position: relative;
	margin-top: -17px;
	margin-left: 35px;
	width: 90%;
}
.inisesion a{ 
	font-size: 15px;
	color: black;
	font-family:monospace;
}
.inisesion a i{ 
	font-size: 10px;
}
.ctncarc{
	position: absolute;
	margin-left: 160px;
}
.ctncarc .carito a{
	text-decoration: none;
	color: #c71212;
	padding: 7px;
}
.carito{
    line-height: 70px;
    margin-left: 75px;
    font-size: 21px;
    color:#ffbb33;
	background:black;
	padding:1px;
	width: 1%;
}
.car{
	padding: 7px;
	font-size: 14px;
}
.vacio{
	width: 100%;
	padding: 1px;
	color: black;
	background:#ffbb33;
}
.ctncarc .icono-usuario{
    color: black;
}
.ctncarc a{
	text-decoration: none;
	color: #c71212;
}
.ctncarc a:hover{
	color:#ffbb33;
}

/************---Propiedades del input del buscador----***************/

input.src{
	padding: 9px 10px 9px 35px;
	outline-color: #bdbdbd;
	font-size: 9px;
	color: #444;
	border: 1.5px solid #bdbdbd;
	background: #fff url("../imagenes/icon-search.png");
	no-repeat: 9px center;
	width: 90%;
	height: 15px;
	transition: all .5s;
}
.src:focus{/*Hacemos un focus y le damos un efecto y color*/
box-shadow: 0px 0px 7px #b3e5fc ;
}

/**********Barra Menu*************************/
header{/*Contenedor del menu*/
	width: 100%;
	height: 53px;/*tamaño del menu altura*/
	background: #000;/*Color de la barra de menu*/
	color:black;
	display: flex;
	justify-content: center;
	position: sticky;/*Posicion pegajoso*/
	top: 0;
	z-index: 102;
}
header label{/*Configuracion del icon-menu*/
	display: none;/*Desaparece el icono*/
	cursor: pointer;
	margin-top: 7px;
	position: absolute;
	margin-left: 91%;
}

#btn-menu{/*Check box*/
	display: none;
}
#modificado{
	color: #9e9e9e;
	width: 100%;
	height:52px;
	background: #000;
}
#modificado:hover{
	color: #000;
	width: 100%;
	height:52px;
}
.icon-down-open{
	position: absolute;
	margin: 3px 1px;
	font-size: 9px;
}
.icon-droplet{
	position: absolute;
	margin: -2px -20px;
	font-size: 20px;
}
.icon-home{/*posición del icono*/
	position: absolute;
	margin-top: 1px;
	margin-left: -7px;
	background:none;
}
.icono-home{/*Medidas de <li>*/
	margin-top:-3px;
	padding: 3px;
	width: 60px;
	height: 52px;
	background:rgba(255, 152, 0, 0.7) ;
}
.icon-certificate{
	color: #9e9e9e;
}
.menu ul{/*Padres de los items <ul>*/
	margin-top: 4px;
    display: flex;
    list-style: none;
}
.menu ul ul{/*Los submenu*/
	background: #fafafa ;/*Color de los submenus*/
	display: none;
	font-size:50px;
}
.menu ul ul a{/*Los submenu*/
	font-family: monospace;
	font-weight: 549;
	font-size: 20px;
}
.menu ul ul::before {/*Crear el triangulo de los submenus*/
content: "";
display: block;

border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid #fff;

position: absolute;
top: -5px;
left: 55px;
}
.menu ul ul :hover a, .menu li a:focus {/*Quita el color de fondo de los 
	submenu y pone un color a la letra al pasar el sursor*/
	background: none;
    color: #FF8800 ;
}
.menu a{/*La letra de los menus*/
	display: block;
	padding: 15px 20px;
	color: #bdbdbd;
	text-decoration: none;
	font-size:17px; 
	font-weight: 500;
    font-family: serif;
    height: 52px;
    margin-top: -3px;
}

.menu ul li:hover ul{/*Depelgar los submenus*/
	z-index: 1;
	top: 49px;
	display: block;
	position: absolute;
	width: auto;
    
}
#submenu{ /*Dar un padin solo a la letra del menu <a>INK</a>*/
	padding: 10px 20px 50px;
}

#sub{ /*Dar un padin solo a la letra del menu <a>INK</a>*/
	padding:15px 33px;
   }
 

@media (max-width:1500px) {
	.cont-prin{
		display: none;
	}
	header{
		display: flex;
		width: 100%;
		background:black;
		height:53px;
		z-index: 20;
	}
     header label{/*Aparece el icono del menu*/
		display: block;
		color: #9e9e9e;
		margin-top: 5px;
		font-size: 30px;
		left: -90%;
	}
	#sub{ /*Dar un padin solo a la letra del menu <a>INK</a>*/
	padding:10px 18px;
   }
   #modificado{

	width: 100%;
	height:53px;
	background:black;
}
	.icono-home{/*<li>*/
		display: none;
	}
	.icon-deviantart{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.icon-pinboard{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.icon-off{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.icon-paste{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.icon-box{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.icon-resize-vertical{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.icon-certificate{
		position: absolute;
	    margin: -2px -15px;
	    font-size: 11px;
	}
	.menu{
		position: absolute;
		top: 50px;
		left: 0;
		width:230px;
		height: 900%;
        overflow-y: auto;
		transform: translateX(-100%);	
		transition: all 0.1s;
 	}
	.menu ul{
		flex-direction: column;/*Esta propiedad ve en junta con el 
		display flex ya que se puso antes del media query como 
		display flex*/
		background: black;
     }
     .menu a{
     	font-size: 17px;
     	color: #ffbb33;
     	border: 1px solid #fafafa;
        padding: 10px 20px;
     }
     .menu ul li ul{
     	background: #4B515D;
     	width: 230px;
     }
.menu ul li:hover ul{/*Los submenu*/
	display: none;
	position: static;/*Le quita la funcion al mismo .menu ul li:hover ul
	fuera del query para que el menu empuje al otro y no quede encima*/
	background: #4B515D;
	width: 230px;
}

#btn-menu:checked ~ .menu{ /*Para sacar la virgulilla Alt + 126
	Esto hace que al oprimir el cheked que esta vinculado con el menu*/
transform: translateX(0%);
	} 
	 .icon-down-open{
	 	position: absolute;
	    right: 5px;
		color: #9e9e9e;
	}
}