.bady-pedidos{
	width: 100%;
}
.item-pedido{
	display: flex;
	border: 1px #ccc solid;
	margin-bottom: 5px;
}
.pedido-img{
	width: 200px;
}
.pedido-img img{
	width: 100%;
}
.pedido-detalle{
	padding: 10px;
	width: calc(100% - 220px);
}
.pedido-detalle p, .pedido-detalle p{
	margin: 5px 0;
}
.ipt-procom{
	width: 150px;
	margin-bottom: 5px;
}
input{
	padding: 10px;
	font-size: 15px;
	background-color: #fefefe;
	border:1px solid #ccc;
	width:calc(100% - 62px);
	font-family:'Sen', sans-serif;
}
input:placeholder{
	color:#ccc;
}
.metodo-pago{
	display: flex;
	width: 100%;
}
input[type="radio"]{
	width: 20px;
	height: 20px;
	margin: 0 5px 5px 5px;
}
.metodo-pago label{
	width: calc(100% - 30px);
}
.content-page h4{
	margin:5px 0;
}
.btn-main{
	position: absolute;
	font-size: 17px;
	background-color: #fefefe;
	border-style: none;
	border:1px solid #ccc;
	cursor: pointer;
}
.btn-search{
	width: 40px;
	color: #333;
}
.caja-detalle{
	width: 100%;
	display: flex;
}
.caja-detalle .img{
	width: 150px;
}
.caja-detalle .img img{
	width: 100%;
}
.caja-detalle .detalle{
	width: calc(100% -150px);
	padding: 10px;
}
.caja-detalle .detalle *{
	margin: 0;
}
.mb5{
	margin-bottom: 5px!important;
}

@media(max-width: 850px){
	.product-box {
	    width: calc(100%/4 - 20px);
	}
}
@media(max-width: 700px){
	.product-box {
	    width: calc(100%/3 - 20px);
	}
	.options-place{
		width: 200px;
	}
	.search-place{
		width: calc(100% - 250px);
	}
}
@media(max-width: 500px){
	.product-box {
	    width: calc(100%/2 - 20px);
	}
	.options-place{
		display: none;
	}
	.menu-movil{
		display: block;
	}
	.logo-place{
		width: 100px;
		margin-top: 2px;
	}
	.search-place{
		width: calc(100% - 170px);
	}
	.menu-opciones {
	    right: 10px;
	}
	.content-page section{
		display: block;
	}
	.part2{
		width: calc(100% - 20px);
	}
	.part2 h2,.part2 h1,.part2 h3{
		margin: 0;
	}
	.part2 h2{
		font-size: 20px;
	}
	.part2 h1{
		font-size: 25px;
	}
	.part2 h1 span{
		font-size: 16px;
	}
	.part2 h4{
		font-size: 14px;
	}
	.pedido-img{
		width: 120px;
	}
	.pedido-detalle{
		width: calc(100% - 140px);
	}
	h3{
		margin: 10px 0;
	}
}


